.beige-div,
.beige-print-div {
  width: 125px;
  position: fixed;
  bottom: -60px;
  left: 30px;
  background-color: rgb(161, 0, 161);
  font-family: Roboto;
  border-radius: 5px;
  transition: background-color 0.4s;
  transition: bottom 2s;
}

.beige-print-div {
  visibility: hidden;
  width: 150px;
  left: 20px;
  bottom: -5px;
  background-color: white;
  border: 2px solid rgb(161, 0, 161);
}

.beige-description-mod {
  color: black;
  font-size: 17px;
  margin-left: 12px;
}

.author {
  font-size: 20px;
  font-weight: 700;
}

.beige, 
.beige-description {
  color: white;
  margin-left: 15px;
  font-weight: bold;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.beige-description {
 font-size: 15px;
 font-weight: 400;
 margin-bottom: 20px;
}

.beige-div:hover {
  background-color: blue;
  bottom: -10px;
  transition: bottom 2s;
}

@media print {
  .beige-div {
    visibility: hidden;
  }

  .beige-print-div {
    visibility: visible;
  }
}

